body, html{padding: 0; margin: 0;}	
div{width: 150px; height: 150px; background: crimson; margin: 20px; display: inline-block;}

/*triangle format with four coordinates*/
.triangle{ clip-path: polygon( 50% 0%, 50% 0%, 100% 100%, 0 100% );}

/*triangle format with three coordinates*/
.triangle{ clip-path: polygon( 50% 0%, 100% 100%, 0 100% );}

.trapezoid{ clip-path: polygon( 25% 0, 75% 0, 100% 100%, 0 100%); }
.parallel{ clip-path: polygon( 25% 0, 100% 0, 80% 100%,  0 100%); }
.rhombus{ clip-path: polygon( 50% 0, 100% 50%, 50% 100%, 0 50%); }
.pentagon{ clip-path: polygon(50% 0%, 100% 35%, 80% 100%, 20% 100%, 0% 35%);}
.hexagon{ clip-path: polygon( 50% 0, 100% 25%, 100% 75%,  50% 100%, 0 75%, 0 25%); }
.heptagon{ clip-path:  polygon( 50% 0, 90% 15%, 100% 50%, 75% 100%, 25% 100%,0 50%, 10% 15%); }
.octagon{ clip-path: polygon( 30% 0%, 70% 0%, 100% 30%, 100% 68%, 70% 100%, 30% 100%, 0 68%, 0 30%); }
.nonagon{ clip-path: polygon(  50% 0%, 80% 15%, 100% 45%, 90% 80%, 65% 100%, 30% 100%, 10% 80%, 0 45%, 15% 15%); }
.decagon{ clip-path: polygon( 50% 0, 80% 12%, 100% 35%, 100% 68%, 80% 89%, 50% 100%, 20% 89%, 0 68%, 0 35%, 20% 12%   ); }
.rabbet{ clip-path: polygon( 0 20%, 20% 20%,20% 0, 80% 0, 80% 20% ,100% 20%, 100% 80%,80% 80%,80% 100%, 20% 100%, 20% 80%, 0 80% ); }
.left-arrow{ clip-path: polygon( 0  50%, 40% 0, 40% 25%, 100% 25%, 100% 75%, 40% 75%, 40% 100%); }